/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

/*Google Font*/

body {

	font-family: 'Roboto Condensed', sans-serif;
}

.portfolio {
	text-align: center;
	font-weight: bold;
	min-height: 95vh;
	background-color: rgba(0, 0, 0, 0.5);
	background-position: cover;

}
.title {
	font-size: 8vh;
}

.subtitle {
	font-size: 4vh;
}

footer {
	background-color: #df4759;
	text-align: center;
	padding: 1rem;
	color: white;
}

#bg-image {

	max-width: 100%;
	max-height: 100%;
	background-image: url(https://cdn-media-2.freecodecamp.org/w1280/5f9c9b61740569d1a4ca2b7b.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: cover;
	background-attachment: fixed;
}

#back-to-top {
	text-decoration: none;
	color: white;
}

#top-padding {
	padding: 100px 0px 0px 0px;
}